# NOTE: Only edit the ***.py files.
# We can ignore the other files around here.

# Ignore Windows folder settings files
.tmp.drivedownload
.tmp.driveupload

desktop.ini
**/desktop.ini

database/data.db